[submodule "cheat.el"]
	path = vendor/cheat.el
	url = git://github.com/defunkt/cheat.el.git
[submodule "fuzzy-find-in-project"]
	path = vendor/fuzzy-find-in-project
	url = git://github.com/avvo/fuzzy-find-in-project.git
[submodule "rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el
