[submodule "cheat.el"]
	path = vendor/cheat.el
	url = git://github.com/defunkt/cheat.el.git
[submodule "far-search"]
	path = vendor/far-search
	url = git://github.com/aemoncannon/far-search-mode.git
[submodule "fuzzy-find-in-project"]
	path = vendor/fuzzy-find-in-project
	url = git://github.com/avvo/fuzzy-find-in-project.git
[submodule "magit"]
	path = vendor/magit
	url = git://github.com/technomancy/magit.git
[submodule "rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el
